/* Carousel css */
.myCarousel div>button[data-direction=right], .myCarousel div>button[data-direction=left]{
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
  border: none;
  cursor: pointer;
  height: 80px;
  outline: 0;
  position: relative;
  top: 80px;
}
.myCarousel div>button[data-direction=left]{
  left: -16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}
.myCarousel div>button[data-direction=right]{
  right: 4pc;
}

/* BreadCrums Css */

.txtSm.txtSm {
  margin-top: 12pc;
  margin-left: 11pc;
  font-size: var(--txtSm);
}
/* Image Gallery */
@import "~react-image-gallery/styles/css/image-gallery.css";
